main{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0;
}
a {
  text-decoration: none;
  border: none;
}

.mapboxgl-popup-content {
  text-decoration: none;
  border: none;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  padding: 0 40px 0 20px;
  /* margin: 0; */
}

