main{
  font-size: var(--font-l);
  text-align: center;
}

h1{
  margin: 2%;
}

.btn {
  align-self: center;
  border: 2px solid black;
  font-size: 1.4ch;
  background-color: #e4ecc2;
  margin: 5px;
  padding: 5px 15px;
}