main{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}
a {
  text-decoration: none;
  border: none;
}

.mapboxgl-popup-content {
  text-decoration: none;
  border: none;
}
