main{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.card{
  width: 100%;
  max-width: 500px;
  margin: 10px;
  font-size: 2ch;
}
.card-title{
  font-size: var(--font-l);
}

a{
  text-decoration: none;
}