{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/places/index.css' %}">


<div id='map' style='width: 100%; height: 1000px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibGFyZ2V3YXRlciIsImEiOiJjbDZoOTAwZWkweWNjM2JvYThnbm03YjMzIn0.r11MoNzvczr0RUCDmi9brQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    zoom: 2.4,
    center: [1, 1]
  });
</script>
{% for place in places %}
<script>
var marker = new mapboxgl.Marker()
.setLngLat([{{ place.lng }}, {{ place.lat }}])
.setPopup(new mapboxgl.Popup().setHTML('<p>{{ place.address }}</p><p>created by {{ place.user }}</p><p><a href ="/places/{{ place.id }}">details</p>'))
.addTo(map);
</script>
{% endfor %}

{% endblock %}
